.navbar {
   background-color: var(--ifm-color-secondary);
   width: auto;
   height: 113px;
   left: 0px;
   top: 0px;
}

.logos-icons {
    display: flex;
}

.icons {
    margin: 10px;
}

/* feuille */
.elem-ban {
    display: flex;
    justify-content: space-between;
}

.plant-ban {
    width: 50;
    height: auto;

}